---
#  -name: make ec2 up and running
- hosts: demo
  user: root
  become: yes
  connection: ssh
  gather_facts: no

  tasks:
  - name: creating docker image mainweb 
    command: docker build -t mainweb-port-{{NEW}} /home/ec2-user/backend
  
  - name: run container
    docker_container:
      name: backend-port-{{NEW}}
      image: mainweb-port-{{NEW}}
      ports:
        - "{{NEW}}:8000"
      command: bash -c "./start.sh" 

  - name: stop old container
    command: docker rm -f backend-port-{{OLD}}

  - name: delete old mainweb image
    command: sudo docker image rm -f mainweb-port-{{OLD}}
