---
#  -name: make ec2 up and running
- hosts: demo
  user: root
  become: yes
  connection: ssh
  gather_facts: no

  tasks:
  - name: stop old container
    command: docker rm -f backend

  - name: delete old mainweb image
    command: sudo docker image rm -f mainweb


  - name: creating docker image mainweb 
    command: docker build -t mainweb /home/ec2-user/backend
  
  - name: run container
    docker_container:
      name: backend
      image: mainweb
      ports:
        - "8000:8000"
      command: bash -c "python manage.py migrate && celery -A backend.celery worker --loglevel=info --detach && newrelic-admin run-program gunicorn --bind 0.0.0.0:8000 backend.wsgi" 


